<div id="active">
	<header>
		<div id="pv_uv">
			<p>PV:<span>123</span></p>
			<p>UV:<span>4565</span></p>
		</div>
		<div id="search">
			<input type="text" placeholder="输入搜索的关键词" />
			<select>
				<option value="金额">金额</option>
				<option value="奖品">奖品</option>
			</select>
			<input type="button" value="搜索" />
		</div>
		<div id="buts">
			<p class="p1"><span>步数</span><span class="last">时间</span></p>
			<p class="p2">导出</p>
		</div>
	</header>
	<section id="active_table" class="user offline">
		<table>
			<thead>
				<tr>
					<th>用户</th>
					<th>报名时间</th>
					<th>联系方式</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>111</td>
					<td>2017/8/1</td>
					<td>王强<br/>15256033883</td>
				</tr>
				<tr>
					<td>111</td>
					<td>2017/8/1</td>
					<td>王强<br/>15256033883</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>